.arrivals {
    display: flex;
    justify-content: center;

    padding: 82px 0 110px;

    &__container {
        padding: 0;
        margin: 0;
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 62px;
        margin-bottom: 80px;
    }

    &__cards-container {
        display: flex;

    }

    &__card-name {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        line-height: 62px;
        margin-bottom: 40px;
    }

    &__card {
        max-width: 400px;
        position: relative;
        padding: 0 36px;
    }
    
    &__card-table {
        position: absolute;
        top: 85px;
        right: 36px;
        border-collapse: collapse;
        line-height: 20px;
    }

    &__card-table-item {
        border: 1px solid #e5e5e5;
        padding: 10px;
        font-weight: 600;

        &:first-child {
            min-width: 78px;
        }

        &:nth-child(2) {
            min-width: 70px;
        }
    }

    &__card-description {
        color: #838383;
        line-height: 30px;
        margin-top: 0;
    }

    &__card-composition {
        caption-side: bottom;
        font-size: 14px;
        color: #404040;
        text-align: left;
        padding-top: 14px;
        line-height: 24px;
    }

    &__buttons {
        display: flex;
        line-height: 20px;
    }

    &__buttons-item {
        text-decoration: none;
        border: 2px solid #834700;
        padding: 12px 20px;
        text-transform: uppercase;
        font-weight: 600;


        &_outline {
            color: #834700;
        }

        &_main {
            color: #ffffff;
            background-color: #834700;
        }

        &:not(:first-child) {
            margin-left: 7px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        margin-top: 64px;
    }

    &__price {
        margin-left: 16px;
        font-weight: bold;
    }
}