.features {
    display: flex;
    justify-content: center;
    padding: 80px;

    margin: 80px 0 95px;
    
    background-color: #ffcb78;
    
    &__container {
        display: flex;
        justify-content: center;
        max-width: 1015px;
        width: 100%;
    }

    &__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__list-item {
        max-width: 210px;
    }

    &__list-item-title {
        text-transform: uppercase;
        padding-bottom: 20px;
        font-size: 20px;
    }

    &__list-item-text {
        color: #404040;
        line-height: 30px;
    }

    &__list-item-img {
        padding-bottom: 20px;
    }
}