.first-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;

    width: 100%;
    height: 550px;

    position: relative;

    padding: 60px 0 165px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: 140px;
        height: 80px;
    }

    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 15px 0;
        margin-left: 60px;

        border-top: 1px solid rgba(156, 136, 136, 0.3);
        border-bottom: 1px solid rgba(156, 136, 136, 0.3);
        
    }
    &__nav-item {
        list-style: none;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;


        &:not(:last-child) {
            margin-right: 60px;
        }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    &__title {
        font-size: 70px;
        line-height: normal;
        text-align: center;
        font-weight: 600;
        margin: 100px 0 0;
        line-height: 70px;
    }

    &__cover {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;

        max-height: 550px;
        height: 100%;

        object-fit: cover;
    }
}