.footer {
    display: flex;
    justify-content: center;
    background-color: #000000;


    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1015px;
        width: 100%;
        margin: 60px 0 45px;
    }

    &__menu {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    &__menu-logo {
        transform: translateX(-50%);
    }

    &__nav {
        list-style: none;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-left: 60px;
        padding: 15px 0;

       

        border-top: 1px solid rgba(156, 136, 136, 0.3);
        border-bottom: 1px solid rgba(156, 136, 136, 0.3);

    }

    &__nav-item {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;




        &:not(:last-child) {
            margin-right: 55px;
        }
    }

    &__nav-item-link {
        text-decoration: none;
        color: #ffffff;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__row-text {
        width: 230px;
        color: #989898;
        font-size: 14px;
        text-align: start;
        
    }

    &__dev {
        display: flex;
        align-items: center;
    }

    &__dev-img {
        padding: 15px 20px;
        border: 1px solid #322d24;
        margin-right: 30px;
    }

    &__dev-text {
        color: #989898;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }

    &__dev-link {
        text-decoration: none;
        color: #989898;
        padding-left: 3px;
    }
}

.socials {
    display: flex;
    font-size: 0;

    &__item {
        width: 70px;
        height: 70px;
        border: 1px solid #322d24;
        position: relative;
        background-color: #1b1b1b;

        &:last-child {
            margin-right: 90px;

        }

    }

    &__item-icon-inst {
        position: absolute;
        left: 40%;
        top: 41%;

    }

    &__item-icon-fb {
        position: absolute;
        left: 45%;
        top: 40%;
    }


    &__item-icon-vk {
        position: absolute;
        left: 35%;
        top: 43%;

    }
}