.form {
    $this: &;

    line-height: 20px;

    &_order {
        margin-right: 10px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__input,
    &__textarea,
    &__select-poll {
        padding: 16px 25px;
        background-color: #e5b66c;
        font-size: 16px;
        outline-width: 0;
    }

    &__input {
        border: none;
    }

    &__textarea {
        border: none;
        min-height: 120px;
    }

    &__checkbox {
        position: relative;
        appearance: none;
        height: 36px;
        width: 36px;
        background-color: #e5b66c;
        margin: 0;
        margin-right: 18px;

        &::after {
            content: "";
            color: #000;
            position: absolute;
            left: 30%;
            bottom: 43%;
            width: 14px;
            height: 8px;
            border-bottom: solid 2px currentColor;
            border-left: solid 2px currentColor;
            -webkit-transform: rotate(-5deg);
            transform: rotate(-45deg);
        }

    }


    &__select-poll {
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        color: #a07e4b;

        position: relative;

        &::after {
            content: '';

            display: block;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(0, 0, 0, .3);


            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
        }
    }

    &__label {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .form__field_checkbox {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding-bottom: 38px;
    }

    &__input-group {
        display: flex;
        width: 100%;


        &:not(:first-child) {
            margin-top: 30px;
        }

        .form__field {
            margin-top: 0;


            &:not(:last-child) {
                margin-right: 50px;
            }
        }


        &_row {
            flex-direction: row;
        }
    }

}


.btn_primary {
    border: none;
    padding: 15px 43px;
    text-transform: uppercase;
    line-height: 20px;
    color: #ffffff;
    background-color: #834600;
    font-weight: 600;
    font-size: 16px;
}