.history {
    margin: 95px 0 0;
    padding: 0;

    display: flex;
    justify-content: center;
    line-height: 30px;

    &__title {
        font-weight: 600;
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 50px;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
    }


    &__list {
        display: flex;
        flex-direction: column;

    }

    &__list-item {
        display: flex;
        padding-bottom: 60px;

    }

    &__list-item-img {
        padding-left: 118px;
    }

    &__link-img {
        padding-top: 35px;
    }

    &__term {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 25px;
    }

    &__story {
        color: #404040;
    }

    &__description {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
    }

    &__source-link {
        color: #834700;
    }
}