.order {
    display: flex;
    justify-content: center;

    background-color: #ffcb78;
    padding: 95px 0 110px;
    

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        padding-right: 156px;
    }

    &__title {
        margin: 0;
        margin-bottom: 70px;
        text-transform: uppercase;
        font-size: 40px;
    }

    &__promo {
        margin: 0;
        margin-bottom: 60px;
        line-height: 30px;
        color: #404040;
    }

    &__form {
        width: 100%;

    }
}