.press {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 100px 0;

    background-color: #ede5d8;

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        max-width: 800px;
        width: 100%;
    }

    &__title {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 90px;
        line-height: 61px;
    }

    &__quote {
        position: relative;

        margin: 0;
    }

    &__quote-text {
        margin: 0;
        max-width: 700px;
        line-height: 30px;
    }

    &__quote-icon {
        position: absolute;
        top: 7px;
        left: -65px;
        transform: translateX(-100%);
    }

    &__source {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
    }

    &__source-link {
        text-decoration: none;
        border: 3px solid #a59f96;
        color: #bcb6ab;
        text-transform: uppercase;
        padding: 9px 20px;
        
    }

    &__source-name {
        text-transform: uppercase;
        font-size: 20px;
    }
}