.supply {
    display: flex;
    justify-content: center;
    padding: 110px 0 95px;

    &__container {
        max-width: 800px;
    }

    &__title {
        margin: 0;
        margin-bottom: 100px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 40px;
        line-height: 61px;
    }
}