.table {
    &_supply {
        border-collapse: collapse;
        line-height: 30px;

        .table__head-title {
            color: #999999;
            padding-bottom: 35px;
            text-transform: uppercase;
            font-size: 11px;
            
        }

        .table__col {
            padding: 18px 0;

        }

        .table__sup {
            margin-left: 25px;
            font-size: 8px;
            background-color: #000000;
            color: #ffffff;
            padding: 2px 3px 3px 4px;
            border-radius: 2px;
        }


        .table__col,
        .table__head-title {
            border-bottom: 1px solid #e5e5e5;


            &:nth-child(1) {
                width: 400px;
                text-align: left;
                font-weight: 600;
                text-transform: uppercase;
            }

            &:nth-child(2) {
                width: 95px;
                text-align: left;
            }

            &:nth-child(3) {
                width: 62px;
                text-align: left;
            }

            &:nth-child(4) {
                width: 174px;
                text-align: left;
            }

            &:nth-child(5) {
                text-align: right;

            }
        }
    }
}