* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  width: 100%;
  color: #000000;
  background: white;
  min-width: 1200px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul, ol {
  margin: 0;
}

ol, ul {
  padding: 0;
}

.first-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  width: 100%;
  height: 550px;
  position: relative;
  padding: 60px 0 165px;
}
.first-display__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-display__logo {
  width: 140px;
  height: 80px;
}
.first-display__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 0;
  margin-left: 60px;
  border-top: 1px solid rgba(156, 136, 136, 0.3);
  border-bottom: 1px solid rgba(156, 136, 136, 0.3);
}
.first-display__nav-item {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.first-display__nav-item:not(:last-child) {
  margin-right: 60px;
}
.first-display__nav-item a {
  text-decoration: none;
  color: #ffffff;
}
.first-display__title {
  font-size: 70px;
  line-height: normal;
  text-align: center;
  font-weight: 600;
  margin: 100px 0 0;
  line-height: 70px;
}
.first-display__cover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 550px;
  height: 100%;
  object-fit: cover;
}

.features {
  display: flex;
  justify-content: center;
  padding: 80px;
  margin: 80px 0 95px;
  background-color: #ffcb78;
}
.features__container {
  display: flex;
  justify-content: center;
  max-width: 1015px;
  width: 100%;
}
.features__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.features__list-item {
  max-width: 210px;
}
.features__list-item-title {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 20px;
}
.features__list-item-text {
  color: #404040;
  line-height: 30px;
}
.features__list-item-img {
  padding-bottom: 20px;
}

.arrivals {
  display: flex;
  justify-content: center;
  padding: 82px 0 110px;
}
.arrivals__container {
  padding: 0;
  margin: 0;
}
.arrivals__title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 62px;
  margin-bottom: 80px;
}
.arrivals__cards-container {
  display: flex;
}
.arrivals__card-name {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  line-height: 62px;
  margin-bottom: 40px;
}
.arrivals__card {
  max-width: 400px;
  position: relative;
  padding: 0 36px;
}
.arrivals__card-table {
  position: absolute;
  top: 85px;
  right: 36px;
  border-collapse: collapse;
  line-height: 20px;
}
.arrivals__card-table-item {
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-weight: 600;
}
.arrivals__card-table-item:first-child {
  min-width: 78px;
}
.arrivals__card-table-item:nth-child(2) {
  min-width: 70px;
}
.arrivals__card-description {
  color: #838383;
  line-height: 30px;
  margin-top: 0;
}
.arrivals__card-composition {
  caption-side: bottom;
  font-size: 14px;
  color: #404040;
  text-align: left;
  padding-top: 14px;
  line-height: 24px;
}
.arrivals__buttons {
  display: flex;
  line-height: 20px;
}
.arrivals__buttons-item {
  text-decoration: none;
  border: 2px solid #834700;
  padding: 12px 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.arrivals__buttons-item_outline {
  color: #834700;
}
.arrivals__buttons-item_main {
  color: #ffffff;
  background-color: #834700;
}
.arrivals__buttons-item:not(:first-child) {
  margin-left: 7px;
}
.arrivals__row {
  display: flex;
  align-items: center;
  margin-top: 64px;
}
.arrivals__price {
  margin-left: 16px;
  font-weight: bold;
}

.history {
  margin: 95px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  line-height: 30px;
}
.history__title {
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 50px;
}
.history__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
}
.history__list {
  display: flex;
  flex-direction: column;
}
.history__list-item {
  display: flex;
  padding-bottom: 60px;
}
.history__list-item-img {
  padding-left: 118px;
}
.history__link-img {
  padding-top: 35px;
}
.history__term {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 25px;
}
.history__story {
  color: #404040;
}
.history__description {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}
.history__source-link {
  color: #834700;
}

.press {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 100px 0;
  background-color: #ede5d8;
}
.press__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}
.press__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 90px;
  line-height: 61px;
}
.press__quote {
  position: relative;
  margin: 0;
}
.press__quote-text {
  margin: 0;
  max-width: 700px;
  line-height: 30px;
}
.press__quote-icon {
  position: absolute;
  top: 7px;
  left: -65px;
  transform: translateX(-100%);
}
.press__source {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.press__source-link {
  text-decoration: none;
  border: 3px solid #a59f96;
  color: #bcb6ab;
  text-transform: uppercase;
  padding: 9px 20px;
}
.press__source-name {
  text-transform: uppercase;
  font-size: 20px;
}

.supply {
  display: flex;
  justify-content: center;
  padding: 110px 0 95px;
}
.supply__container {
  max-width: 800px;
}
.supply__title {
  margin: 0;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
}

.order {
  display: flex;
  justify-content: center;
  background-color: #ffcb78;
  padding: 95px 0 110px;
}
.order__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding-right: 156px;
}
.order__title {
  margin: 0;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 40px;
}
.order__promo {
  margin: 0;
  margin-bottom: 60px;
  line-height: 30px;
  color: #404040;
}
.order__form {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
}
.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1015px;
  width: 100%;
  margin: 60px 0 45px;
}
.footer__menu {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.footer__menu-logo {
  transform: translateX(-50%);
}
.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  padding: 15px 0;
  border-top: 1px solid rgba(156, 136, 136, 0.3);
  border-bottom: 1px solid rgba(156, 136, 136, 0.3);
}
.footer__nav-item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer__nav-item:not(:last-child) {
  margin-right: 55px;
}
.footer__nav-item-link {
  text-decoration: none;
  color: #ffffff;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__row-text {
  width: 230px;
  color: #989898;
  font-size: 14px;
  text-align: start;
}
.footer__dev {
  display: flex;
  align-items: center;
}
.footer__dev-img {
  padding: 15px 20px;
  border: 1px solid #322d24;
  margin-right: 30px;
}
.footer__dev-text {
  color: #989898;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.footer__dev-link {
  text-decoration: none;
  color: #989898;
  padding-left: 3px;
}

.socials {
  display: flex;
  font-size: 0;
}
.socials__item {
  width: 70px;
  height: 70px;
  border: 1px solid #322d24;
  position: relative;
  background-color: #1b1b1b;
}
.socials__item:last-child {
  margin-right: 90px;
}
.socials__item-icon-inst {
  position: absolute;
  left: 40%;
  top: 41%;
}
.socials__item-icon-fb {
  position: absolute;
  left: 45%;
  top: 40%;
}
.socials__item-icon-vk {
  position: absolute;
  left: 35%;
  top: 43%;
}

.table_supply {
  border-collapse: collapse;
  line-height: 30px;
}
.table_supply .table__head-title {
  color: #999999;
  padding-bottom: 35px;
  text-transform: uppercase;
  font-size: 11px;
}
.table_supply .table__col {
  padding: 18px 0;
}
.table_supply .table__sup {
  margin-left: 25px;
  font-size: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 2px 3px 3px 4px;
  border-radius: 2px;
}
.table_supply .table__col,
.table_supply .table__head-title {
  border-bottom: 1px solid #e5e5e5;
}
.table_supply .table__col:nth-child(1),
.table_supply .table__head-title:nth-child(1) {
  width: 400px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}
.table_supply .table__col:nth-child(2),
.table_supply .table__head-title:nth-child(2) {
  width: 95px;
  text-align: left;
}
.table_supply .table__col:nth-child(3),
.table_supply .table__head-title:nth-child(3) {
  width: 62px;
  text-align: left;
}
.table_supply .table__col:nth-child(4),
.table_supply .table__head-title:nth-child(4) {
  width: 174px;
  text-align: left;
}
.table_supply .table__col:nth-child(5),
.table_supply .table__head-title:nth-child(5) {
  text-align: right;
}

.form {
  line-height: 20px;
}
.form_order {
  margin-right: 10px;
}
.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__field:not(:first-child) {
  margin-top: 30px;
}
.form__input, .form__textarea, .form__select-poll {
  padding: 16px 25px;
  background-color: #e5b66c;
  font-size: 16px;
  outline-width: 0;
}
.form__input {
  border: none;
}
.form__textarea {
  border: none;
  min-height: 120px;
}
.form__checkbox {
  position: relative;
  appearance: none;
  height: 36px;
  width: 36px;
  background-color: #e5b66c;
  margin: 0;
  margin-right: 18px;
}
.form__checkbox::after {
  content: "";
  color: #000;
  position: absolute;
  left: 30%;
  bottom: 43%;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-45deg);
}
.form__select-poll {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: #a07e4b;
  position: relative;
}
.form__select-poll::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
.form__label {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.form .form__field_checkbox {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 38px;
}
.form__input-group {
  display: flex;
  width: 100%;
}
.form__input-group:not(:first-child) {
  margin-top: 30px;
}
.form__input-group .form__field {
  margin-top: 0;
}
.form__input-group .form__field:not(:last-child) {
  margin-right: 50px;
}
.form__input-group_row {
  flex-direction: row;
}

.btn_primary {
  border: none;
  padding: 15px 43px;
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
  background-color: #834600;
  font-weight: 600;
  font-size: 16px;
}

/*# sourceMappingURL=index.css.map */
