* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    width: 100%;
    color: #000000;
    background: white;
    min-width: 1200px;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, p, ul, ol {
    margin: 0;
}

ol, ul {
    padding: 0;
}

@import "./first-display";
@import "./features";
@import "./arrivals";
@import "./history.scss";
@import "./press";
@import "./supply";
@import "./order";
@import "./footer";
@import "./table";
@import "./form";